
 body{
    background-color: rgb(253, 243, 223);
}

section{
    position: absolute;
    top: 0%;
    left: 5%;
    width: 50%;
}

section img{
    position: fixed;
    top: 1%;
    left: 5%;
    border-radius: 5px;
    width: 50%;
}

.floatRight{
    float:right;
    margin-left:50%;
}

article{
    min-width: 300px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid steelblue;
    background-color: white;
}

input{
    width: 300px;
    border: none;
    background-color: white;
    border-bottom: 1px solid gray;
    height: 30px;
}

input, label, p, #district{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    display: block;
    margin: 20px;
    width: 80px;
    border-radius: 4px;
    height: 30px;
    color: white;
    font-size: 18px;
    float: right;
    border: none;
    background-color: rgb(175, 102, 243);
}

#district{
    height: 50px;
}

article p{
    font-weight: bold;
    font-family: Helvetica ;
    letter-spacing: 2px;
}

/* pseudo class selector */
input:focus{
    outline-color: blue;
    background-color: lightpink;
}

.left{
    float: left;
}

.clear{
    clear: both;
}

/* attribute selector */
input[name^="option"]{
    width: 20px;
    height: 15px;
}
